@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@700&family=Corinthia:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=La+Belle+Aurore&family=Nerko+One&family=Open+Sans:wght@300;700&family=Poppins:wght@200;400;600&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primary: 'Nerko One', cursive;
    --font-secunday:'La Belle Aurore', cursive;
    --font-action:  'Poppins', sans-serif;
}
.hamburguer{
    /*background-color:red ;*/
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}
.line{
    width: 100%;
    height:.1rem;
    background-color: #ffffff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}
.show-menu #line1{
    transform: rotate(45deg)translate(1rem, .3rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg)translate(.3rem, .3rem);;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    top: 0.6rem;
    background-color: #5b794e;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #5b794e;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}


header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8)
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    animation: zoom 3s;
}
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    /*font-weight: 200;*/
    text-shadow: 0.2rem 0.2rem 1px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: .1rem;
    opacity: 0;
    animation: moveBanner 1s 0.5s forwards;
}
.banner p{
    font-family: var(--font-secunday);
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem  rgba(0, 0, 0, .4);
    margin-bottom: 1rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner:link,.banner button{
    text-transform: uppercase;
    font-family: var(--font-action);
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
    
}
.banner button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.banner button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.banner button-white {
    background-color: #fff;
    color: #777;
}

.banner button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.banner button-white::after {
    background-color: #fff;
}

.banner button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.banner button-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
    
}


@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link{
    font-family: var(--font-action);
    color: #5b794e;
    font-size: 2rem;
    transition: color 1s;
}
.menu-link:hover{
    color: #000000;
    font-size: 2.1rem;
}
.social-media{
    
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social-media i{
    
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
    color: #5b794e;
}
.social-media i:hover{
    color:#000000 ;
    font-size: 2.1rem;
}